<a href="https://colab.research.google.com/github/pmshambo/patrick_INFO3020_Spring2020/blob/master/assignment_10_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#1
import pymysql

def retrieve_country():
    db = pymysql.connect("localhost", "root", "INFO3020", "world")
    dbcursor = db.cursor()
    sql = "select * from country"
    command = dbcursor.execute(sql)
    data = dbcursor.fetchall()
    dbcursor.close()
    db.close()
    return data

def name_param(variable):
    db = pymysql.connect("localhost", "root", "INFO3020", "world")
    dbcursor = db.cursor()
    sql = "select * from country where name=%s"
    command = dbcursor.execute(sql, variable)
    name = dbcursor.fetchone()
    dbcursor.close()
    db.close()
    return name

#variable = 'Yemen'
#variable = 'Bulgaria'
variable = 'Congo'
print(name_param(variable))

In [0]:
#2